/*principales*/
*{
    font-family: "Cinzel", sans-serif;
}

html{

}

body{
    height:100%;
    width:100%;
}
@media only screen and (max-device-width: 360px) {
    main{
        font-size:x-small;
    
    }
}
/*Header*/

header{
    margin-top:50px;
    height: 100px;
    
}

#titulo{
    display:flex;
    margin-top:10px;
    font-size: 2.2em;
    align-content: center;
    justify-content: center;
    
}

#titulo p{
    font-size:15pt;

}

#firma{
    width:70px;
    height: 70px;
}


/*NavBar*/

.bg-dark{
    padding-left:40% ;
}

@media only screen and (max-device-width: 768px) {
    .bg-dark {
      padding-left:10px;
    }
  }



/*Body*/

.parallax { 
    /* The image used */
    background-image: url("/img/table-2254656_1920.jpg");
  
    /* Set a specific height */
    height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1365px) {
    .parallax {
      background-attachment: scroll;
    }
  }

   

    #contenedor DIV
    { 
        margin:50px; 
        padding:50px; 
        
    }
    .hideme
    {
        opacity:0;
        margin-top:10px;
        margin-left: 30%;
        margin-right:30%;
        
    }

    @media only screen and (max-device-width: 1360px) {
        .hideme {
          margin-left: 10%;
          margin-right: 10%;
        }
      }
    

    .hideme p{
        text-align: center;
        font-size: 1.2em;
        color: #2c2c2c;
       
        
    }
    
    .text-center{
        margin-top:20px;
        margin-bottom:20px;

    }

    /*about.html*/
    /* #about{
        height:2100px;
        
    } */
    .about{
        background-image:url("/img/helloquence-5fNmWej4tAA-unsplash.jpg");
        height:800px;
        background-size: cover;
        position:relative
    }
    .contenedorAbout{
        background-color:rgba(0, 0,0, 0.85);
        color:white;
        padding-right:20%;
        padding-left:20%;
        opacity:0;
        /* height:400px; */
        width:100%;
        position:absolute;
        bottom:0;
        font-size:1.5em;
        
    }

    #pe{
        margin: 0 10% 7% 8%;
        
    }

    .contenedorAbout h2{
        font-size:1.5em;
        text-align:center;
        
    }

    @media only screen and (max-device-width: 1360px) {
        .about{
            background-size:cover;
            
        }
        .contenedorAbout {
          overflow:scroll;
          font-size:1em;
          padding-top:5%;
          padding-right:10%;
          padding-left:10%;
          line-height:20px;

        }
      }

      

      #botones{
        width:100%;
        text-align:center;
      }

      .btn-outline-secondary{
            background-color:rgb(255,255,255);
            color:black;
      }

      .container{
          position:absolute;
          display:none;
      }

      #contenedorA{
            display:none;
      }

      .contenedorAbout2{
        opacity:0.5;
        margin:10px 0 5px 0;
      }
      .row{
          margin:10px 0 5px 0;
      }
      .col{
          margin: 10px 0;
          padding: 3% 4% ;
          font-size:1.2em;
           
      }
    
/*Footer*/

.footer2 {
    width: 100%;
    background-color: rgba(0, 0,0, 0.85);
    padding-right:5px;
    padding-top:5px;
}

.pie2{
    text-align:right;
    color:white;

}

@media only screen and (max-device-width: 1360px) {
    .col{
        margin: 5px 0;
        padding: 1.5% 2% ;
        font-size:0.7em;
         
    }
    


    footer{
        font-size:0.8em;
    }
  }


/*Footer*/

  .footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.85);
    padding-right:5px;
    padding-top:5px;
}

.pie{
    text-align:right;
    color:white;

}

 

